# The standard Go .gitignore file follows. (Sourced from: github.com/github/gitignore/master/Go.gitignore)
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

bin/
release/

*~
*.swp

*.iml
.idea/
target/
tests.xml
bin/
pkg/
src/github.com/*
!src/github.com/bullwark-registrar
src/golang.org/
src/go.uber.org/
src/gopkg.in/

*weregistrar_pid
